/* Centered Container for Login / Create Account */
.centered-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Centered Container for Game */
.centered-game-container {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Centered Container for Game */
.centered-board-container {
    width: 100%;
    height: 100%;
}

/* Centered Container for Winner */
.winner-container {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Centered Container for Login / Create Account */
.sidebar-container {
    width: 25%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Centered Container for Statistics */
.statistics-container {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Centered Container for Statistics */
.game-statistics-container {
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
}

.loadable-game {
    width: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.loadable-game-title {
    font-size: 16px;
    padding-right: 10px;
}

/* White background chess square */
.white-square {
    background-image: url('../../resources/images/white-Square.png');
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

/* Selected chess square */
.selected-square {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

/* Checked chess square */
.checked-square {
    background-color: rgba(225, 0, 0, 0.5);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

/* Selected chess square */
.possible-move-square {
    background-color: rgba(0, 75, 0, 0.5);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

/* Black background chess square */
.black-square {
    background-image: url('../../resources/images/black-Square.png');
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

.center-text {
    text-align: center;
}

.logout-button {
    background-color: red;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-button {
    background-color: green;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.message-text {
    color: black;
    font-size: 14px;
    margin-top: 10px;
}

/* Button Style */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Load Button Style */
.load-button {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.load-button:hover {
    background-color: #333; /* Hover background color */
}

/* Delete Button Style */
.delete-button {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: lightcoral; /* Hover background color */
}

/* Resign Button Style */
.resign-Button {

    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50px; /* Set the width to a specific value which is half of the original */
}
/* CSS for the Draw button */
.draw-Button {
    display: inline-block;
    padding: 10px 20px;      /* Add padding inside the button */
    background-color: #4CAF50; /* A green background for the draw button */
    color: white;             /* White text color */
    font-size: 16px;          /* Font size for the text */
    text-align: center;       /* Center the text inside the button */
    text-decoration: none;    /* Remove any underline from text */
    border: none;             /* No border */
    border-radius: 4px;       /* Rounded corners */
    cursor: pointer;          /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    box-sizing: border-box;   /* Include padding and border in the button's total width and height */
    width: 100%;              /* Make the button fill its container */
}

.centered-dialog {
  /* Centering with flexbox */
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Ensure it's on top of other content */
  z-index: 1000;
}
/* Red Button Style */
.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333; /* Hover background color */
}

/* Style for a button with no border - i.e. create account text */
.text-button {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
}

/* Style for error text */
.error-text {
    font-size: 16px;
    color: red;
    text-align: center;
}

/* Style for Wt::WLineEdit widgets */
.wt-wlineedit {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style for placeholder text inside Wt::WLineEdit widgets */
.wt-wlineedit::placeholder {
    color: #999;
}

/* Style for focused Wt::WLineEdit widgets */
.wt-wlineedit:focus {
    border-color: #007bff;
    outline: none;
}

/* Style for titles */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.green-button {
    background-color: green;
    color: white; /* Set text color to white for better visibility on green background */
}
.normalButton {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.highlightedButton {
    background-color: red; /* This will make the button red when highlighted */

}
.inner-container {
    /* Styles specific to innerContainer.
       For example, you can set a fixed width and height, background-color, etc. */
    margin-top: 60px;
    width: 85%;   /* Example width, adjust as needed */
    height: 85%;  /* Example height, adjust as needed */
    background-color: #f5f5f5; /* Example background color, adjust as needed */
    border: 1px solid #ccc; /* Example border, adjust as needed */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for a bit of depth */

}
.inner-container table {
    width: 100%;  /* Make the table span the entire width of the container */
    border-collapse: collapse; /* Remove spaces between table cells */
}

.inner-container table tr:nth-child(odd) {
    background-color: #f2f2f2;  /* Alternate color for odd rows */
}

.inner-container table tr:nth-child(even) {
    background-color: #ffffff;  /* Alternate color for even rows */
}

.inner-container table td {
    border: 1px solid #ddd;  /* Grid line */
    padding: 2px;  /* Some padding for cell data */
}

.inner-container table tr:hover {
    background-color: #ddd;  /* Hover effect */
}

.black-row {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    font-size: 16px; /* Adjust the text size as desired */
    font-weight: bold; /* Make the text bold */
    font-family: 'Arial', sans-serif; /* Specify a nice font-family */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
  
.white-row {
    background-color: white; /* Set the background color to white */
    color: black; /* Set the text color to black */
    font-size: 16px; /* Adjust the text size as desired */
    font-weight: bold; /* Make the text bold */
    font-family: 'Arial', sans-serif; /* Specify a nice font-family */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}